@tailwind base;
@tailwind components;
@tailwind utilities;





@keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes move-in-out {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .animate-fade-in-out {
    animation: fade-in-out 8s infinite;
  }
  
  .animate-move-in-out {
    animation: move-in-out 8s infinite;
  }
  